/* object styles */

.slider {
  letter-spacing: 0.6px;
  max-width: 500px;
  margin: 50px auto;
  position: relative;

  .mask {
    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }

  .slide {
    float: left;
    width: 100%;
    display: none;

    &.js-active {
      display: block;
    }
  }

  .btn-prev,
  .btn-next {
    position: absolute;
    left: -66px;
    top: 50%;
    transform: translateY(-50%);
    color: #1a237e;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.2px;

    &:hover {
      text-decoration: underline;
    }

    &.js-btn-disable {
      pointer-events: none;
      color: #c8c8c8;
    }
  }

  .btn-next {
    left: auto;
    right: -66px;
  }

  &--full-width {
    width: 100%;
    max-width: none;
    padding: 0 100px;

    .btn-prev {
      left: 20px;
    }

    .btn-next {
      right: 20px;
    }
  }
}

.slider--green {

  .btn-prev,
  .btn-next {
    color: #3fb582;
  }
}

.slider--red {

  .btn-prev,
  .btn-next {
    color: #c72e20;
  }
}

.box {
  background: #3f51b5;
  color: #eee;
  border-radius: 4px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;

  .slider--green & {
    background-color: #3fb582;
  }
}

.pagination {
  margin: 16px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  &-link {
    padding: 0 6px;
    cursor: pointer;

    &.js-active {

      .pagination-dots {
        box-shadow: 0 0 0 3px #3f51b5;

        .slider--green & {
          box-shadow: 0 0 0 3px #3fb582;
        }

        .slider--red & {
          box-shadow: 0 0 0 3px #c72e20;
        }
      }
    }
  }

  &-dots {
    text-decoration: none;
    text-indent: 101%;
    display: block;
    overflow: hidden;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #3f51b5;
    transition: box-shadow 0.32s ease-out;

    &:hover {
      box-shadow: 0 0 0 3px #3f51b5;
    }

    .slider--green & {
      background-color: #3fb582;

      &:hover {
        box-shadow: 0 0 0 3px #3fb582;
      }
    }

    .slider--red & {
      background-color: #c72e20;

      &:hover {
        box-shadow: 0 0 0 3px #c72e20;
      }
    }
  }
}

h1 {
  text-transform: uppercase;
  line-height: 1.2;
}